
<h1> tutorial  : <%= @tutorial.title %> </h1>
   
 <p>
    title :  <%= @tutorial.problem %>
 </p>
  <%for q in  @tutorial.questions%>
    <p>
         question : <%= q.question %>
    </p>
    <p>
         answer : <%= q.answer %>
    </p>
    <p>
         hint : <%= q.hint %>
    </p>
  <% end %>

<%= link_to  "edit" , edit_tutorial_path(@tutorial)  %>